@import 'globals.scss';

$white: hsl(0, 0%, 100%);
$red-error: hsl(0, 100%, 66%);
$violet-light: hsl(270, 3%, 87%);
$violet-dark: hsl(279, 6%, 55%);
$violet-very-dark: hsl(278, 68%, 11%);

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

body {
	background-color: hsl(0, 0%, 100%);
	color: $violet-very-dark;
}

.wrapper {
	display: flex;
	height: 100%;
	flex-grow: 1;
}

.gradient-box {
	position: relative;
	flex-grow: 1;
	height: 100%;
	background-image: url('../images/bg-main-desktop.png');
	background-size: cover;
}

.form-wrapper {
	display: flex;
	width: 66%;
	justify-content: center;
	align-items: center;
	padding-left: 5%;
}

form {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 400px;
	input {
		width: 100%;
		border-style: solid;
		border-radius: 0.5rem;
		border-color: $violet-light;
		border-width: 1px;
		margin-top: 0.25rem;
		padding-right: 0.75rem;
		padding-bottom: 0.5rem;
		padding-left: 0.75rem;
		padding-top: 0.5rem;
		&::placeholder {
			color: $violet-dark;
		}
		// background: linear-gradient(21deg, #10abff, #1beabd);
		// border-image-source: linear-gradient(rgba(0, 51, 102, 0.5), rgba(0, 0, 51, 0.5));
	}
	input:focus {
		outline-color: hsl(249, 99%, 64%);
		// border-image-source: linear-gradient(
		// 	rgba(0, 51, 102, 0.5),
		// 	rgba(0, 0, 51, 0.5)
		// );
		// // border-radius: 0.5rem;
		// border-width: 3pt;
		// border-image-slice: 1;
		// outline: none;
	}

	.input-error {
		border-color: $red-error;
	}

	.error-message {
		color: $red-error;
	}
}

button {
	border-radius: 0.5rem;
	margin-top: 34px;
	width: 100%;
	color: $white;
	background-color: $violet-very-dark;
	height: 48px;
}

label {
	display: block;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding-top: 20px;
}

.expire-cvc {
	display: flex;
	justify-content: space-between;
	gap: 14px;
	flex-wrap: nowrap;
}

.expiration-date {
	input {
		max-width: 46%;
	}
}

#expiration-month {
	margin-right: 6px;
}

.cvc {
	min-width: 50%;
}

#confirm-template {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 66%;

	h3 {
		letter-spacing: 2px;
		padding-top: 1.5rem;
	}

	p {
		color: $violet-dark;
		padding-top: 0.375rem;
	}
}

.cards {
	display: block;
	position: absolute;
	right: -20%;
	top: 20%;
}

.bc {
	.fc {
		width: 100%;
		height: auto;
	}
}

.front-card {
	// position: relative;
	// right: -200px;
}

.back-card {
	position: relative;
	top: 40px;
	left: 20%;
}

.card-logo {
	position: absolute;
	top: 25px;
	left: 25px;
}

// Mobile Devices
@media only screen and (max-width: $breakpoint-mobile) {
	.wrapper {
		flex-direction: column;
	}

	.form-wrapper {
		height: 66%;
		width: 100%;
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 20px;
	}

	.gradient-box {
		flex-grow: 1;
		height: unset;
		background-image: url('../images/bg-main-desktop.png');
		background-size: cover;
	}

	.cards {
		display: block;
		position: absolute;
		right: unset;
		left: 5%;
		right: 5%;
		top: 25%;
	}

	.bc {
		.fc {
			width: 100%;
			height: auto;
		}
	}

	.front-card {
		position: relative;
		width: 80%;
		top: 80px;
		z-index: 1;
	}

	.back-card {
		position: absolute;
		top: -4px;
		width: 80%;
	}

	.card-logo {
		position: absolute;
		top: 15px;
		left: 15px;
		height: 25px;
	}
}
